table span {
	background-position: center left;
	background-repeat: no-repeat;
	padding: .2em 0 .2em 1.5em;
}

table span.file {
	background-image: url(../images/page_white_text.png);
}

table span.folder {
	background-image: url(../images/folder.png);
}